<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Hello, World!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.0/normalize.css" />
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" />
    <link rel="stylesheet" href="sortable.css" />
    <link rel="stylesheet" href="style.css" />
</head>
<body class="content">
    <section>
        <h1>
            Products.
        </h1>
    </section>
    <table id="dataTable" class="sortable"></table>

    <script src="./sortable.js"></script>
    <script src="./app.js"></script>
</body>
</html>